.form {
    text-align: center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .formContainer {
    flex-grow: 1;
    position: relative;
  }
  
  .input {
    width: 100%;
    height: 44px;
    padding-left: 20px;
  
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
  
    color: #888888;
    background: #ffffff;
    outline: none;
    border-radius: 20px;
    border: transparent;
    box-shadow: 3px 8px 14px rgba(136, 198, 253, 0.19);
  
    @media screen and (min-width: 480px) {
      width: 380px;
    }
  
    @media screen and (min-width: 768px) {
      width: 608px;
      font-size: 20px;
      line-height: 24px;
    }
  }
  
  .btnSearch {
    width: 24px;
    height: 24px;
    position: absolute;
    right: 15px;
    bottom: 9px;
  
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
  
    background-color: transparent;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      right 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
    @media screen and (min-width: 480px) {
      right: 40px;
    }
  
    @media screen and (min-width: 768px) {
      right: 70px;
    }
  
    @media screen and (min-width: 1280px) {
      right: 330px;
    }
  }
  
  .btnSearch {
    color: #54adff;
    z-index: 2;
  }
  
  .btnSearch:hover,
  .btnSearch:focus {
    color: #145ea3;
  }
  
  .input:not(:placeholder-shown)+.btnSearch {
    opacity: 1;
  }
  
  .input:not(:placeholder-shown)+.btnSearch {
    right: 40px;
  
    @media screen and (min-width: 480px) {
      right: 60px;
    }
  
    @media screen and (min-width: 768px) {
      right: 90px;
    }
  
    @media screen and (min-width: 1280px) {
      right: 350px;
    }
  }