.card_list {
    width: 100%;
    margin-top: 42px;
    display: flex;
    flex-direction: column;
    align-items: center;
    column-gap: 32px;
    row-gap: 24px;
  }
  @media screen and (min-width: 768px) {
    .card_list {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }