/* .wrapper {
  margin-right: auto;
  margin-left: auto;
}

.title {
  margin-bottom: 18px;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 38px;
  color: #111111;
}

.avatarWrapper {
  height: fit-content;
}

.avatar {
  width: 185px;
  height: 185px;
  border-radius: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 14px;
  background-image: url('../../images/bg-avatar.jpg');
  background-size: cover;
  background-position: center;
  background-size: cover;
}

.wrapperFile {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.avatarLabel {
  width: fit-content;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  cursor: pointer;
}

.avatarBtn {
  display: none;
}

.formWrapper {
  margin-bottom: 21px;
}

.forma {
  gap: 15px;
  margin-bottom: 21px;
  padding: 20px 8px 25px 8px;
  background-color: var(--white-color);
  box-shadow: 3px 8px 14px rgba(136, 198, 253, 0.19);
  border-radius: 40px;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.row:not(:last-child) {
  margin-bottom: 12px;
}

.label {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: #111111;
}

.inputContainer {
  position: relative;
}

.input {
  padding: 6px 6px 6px 12px;
  min-width: 190px;
  border: 1px solid var(--blue-color);
  border-radius: 20px;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #111111;
}

.checkbox {
  position: absolute;
  top: -8px;
  right: 2px;
  cursor: pointer;
}

@media screen and (min-width: 280px) {
  .wrapper {
    max-width: 330px;
  }

  .title {
    font-size: 20px;
    line-height: 27px;
  }
  .avatarWrapper {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 768px) {
  .wrapper {
    max-width: 704px;

    margin-bottom: 40px;
  }

  .avatarWrapper {
    margin-bottom: 0;
  }
  .forma {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-bottom: 0;
    padding-left: 20px;
    padding-right: 76px;
    padding-bottom: 21px;
  }

  .avatar {
    width: 182px;
    height: 182px;
  }

  .formWrapper {
    width: 355px;
    margin-bottom: 0;
  }

  .input {
    min-width: 255px;
  }
}

@media screen and (min-width: 1280px) {
  .wrapper {
    max-width: 395px;
    margin-right: 32px;
  }

  .forma {
    display: block;
    padding: 20px 24px 20px 16px;
  }

  .title {
    margin-bottom: 24px;
    font-size: 28px;
  }

  .avatarWrapper {
    margin-bottom: 25px;
  }

  .label {
    font-size: 18px;
  }

  .input {
    font-size: 16px;
    line-height: 22px;
  }
}

.myСomponent.dark .title {
  color: #c3bfbf;
}

.myСomponent.dark .label,
.logoutBtn {
  color: #c3bfbf;
}

.myСomponent.dark .forma {
  background-color: #467c82;
  color: #c3bfbf;
}

.myСomponent.dark .input {
  background-color: #467c82;
  color: #c3bfbf;
  border: 1px solid #2f5a5f;
}

.myСomponent.dark .input::placeholder {
  color: #848a9f;
} */
