@import-normalize; /* bring in normalize.css styles */

:root {
  --primary-font: 'Manrope', sans-serif;
  --second-font: 'Inter', sans-serif;
  --third-font: 'Poppins', sans-serif;
  --dark-color: #000000;
  --orange-color: #ffc107;
  --blue-color: #54adff;
  --white-color: #ffffff;
  --blue-light-color: #cce4fb;
  --fon-color: #fef9f9;
  --overlay-color: rgba(43, 43, 43, 0.6);
  --green-color: #00c3ad;
  --red-color: #f43f5e;
}

body {
  margin: 0;

  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  background-color: #fef9f9;
  font-family: var(--primary-font);
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
a {
  text-decoration: none;
}

ul {
  list-style: none;
}

*,
:after,
:before {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
p {
  margin: 0;
  padding: 0;
}

img {
  height: 100vh;
  display: block;
}

input,
button,
select {
  font: inherit;
}
button {
  cursor: pointer;
}

.container {
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 767px) {
  .container {
    width: 320px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
    width: 768px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    padding-left: 16px;
    padding-right: 16px;
    width: 1280px;
  }
}
